.ctx-menu {
    position: absolute;
    height: auto;
    display: none;
    z-index: 10;
    padding: 6px 0;
    font-size: 12px;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    -webkit-user-select:none;

     -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);

    background: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    cursor: default;
    margin: 0;
    outline: none;
}

/* menu separator */
.ctx-menu .cm-sep {
    border-top: 1px solid #ebebeb;
    margin: 3px 0;
}

/* menu item */
.ctx-menu .cm-item {
    width: 100%;
    padding: 6px 5rem 6px 16px;
    color: #333;
    cursor: pointer;
    margin: 0;
    white-space: nowrap;
}

.ctx-menu .cm-item a {
    display: block;
    font-size: 1.1rem;
}
.ctx-menu .cm-item:hover {
    background-color: #eee;
    border-color: #eee;
    border-style: dotted;
    border-width: 1px 0;
    padding-top: 5px;
    padding-bottom: 5px
}
.ctx-menu .cm-item.disabled,
.ctx-menu .cm-item.disabled:hover{
    color: #ccc;
    cursor: default;
    background: #fff;
    border: none;
    padding: 6px 5rem 6px 16px;
}
.ctx-menu .cm-item[data-msub] a::after {
    content: '';
    position: absolute;
    width: 0; height: 0;
    border: 5px solid transparent;
    border-left-color: #333;
    right: 0;
    margin-top: 3px;
    opacity: .8;
    filter: alpha(opacity=80);
}
.ctx-menu .cm-item[data-msub]:hover a::after {
    border-left-color: #000;
}
